<section class="todoapp">
  <app-header (title)="addTask($event)"></app-header>
  <div class="container todoapp-wrapper" *ngIf="taskFiltered$ | async as datos">
    <!-- This section should be hidden by default and shown when there are todos -->
    <app-main *ngIf="data" [task]="datos" (changeState)="changeState($event)"></app-main>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer *ngIf="data" [task]="datos" [route]="route" (delete)="deleteCompleted()"></app-footer>
  </div>
</section>
